body { 
  background-color: #6BDDC9 
}

#wrapper {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}

#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
}

#notes {
  float: right;
  width: 30%;
}

textarea, input {
  display: block;
  width: 100%;
  background-color: lightgray;
}

input {
  height: 36px;
  font-size: 24px;
}

textarea {
  height: 200px;
  font-size: 18px;
}

#clear, #scrape, #saved, #allNotes {
  color: white;
}

hr {
  border: dotted dashed solid double;
}

p:hover {
  background-color: green;
}